.profile-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*  height: 88vh; */
}

.profile-img-div {
  margin-top: 13.2vh;
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.6vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.inner-product-card {
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-products,
.profile-threads {
  margin: 3.2vh 0;
  width: 80vw;
}

.scrollable {
  height: 35vh;
  overflow-y: auto;
}

.profile-img {
  width: 24vw;
  height: 14vh;
  border: 1px solid white;
  border-radius: 50%;
}

.profile-img-div > button {
  height: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.6vh;
}

.success-msg {
  background-color: rgba(119, 250, 123, 0.7);
  width: 60vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2.4vh 0;
  border: 1px solid rgba(119, 250, 123, 0.7);
  border-radius: 25px 25px;
  margin-top: 3.2vh;
}

.success-msg > p {
  text-align: center;
  color: rgba(0, 0, 0, 1);
  opacity: 1;
}

#product-details-badge {
  background-color: black !important;
  color: rgb(248, 157, 13) !important;
}

#thread-details-badge {
  background-color: black !important;
  color: rgb(248, 157, 13) !important;
}

.bg-primary {
  background-color: rgba(0, 0, 0, 1) !important;
  color: rgb(248, 157, 13) !important;
}

@media (min-width: 900px) {
  .profile-component {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .profile-img-div {
    width: 50vw;
    height: 50vh;
    margin-top: 5vh;
  }
  .profile-listings {
    margin-top: 10vh;
  }
  .profile-products {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 25vw;
  }
  .profile-threads {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 25vw;
  }
  .profile-img {
    width: 20%;
    height: 30%;
    margin: 4vh 0 2vh 0;
  }
  .scrollable {
    height: 30vh;
  }
  .profile-threads > h6 {
    margin: 2.4vh 0;
  }
  .profile-products > h6 {
    margin: 2.4vh 0;
  }
}
