

  .all-products,
  .one-product-card,
  .one-product-card {
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
    align-items: center;
    padding-top: 5vh;
  } 

.one-product-card {
  /* display: flex; */
  /* flex-direction: column; */
  margin-top: 4vh;
  align-items: center;
  padding-top: 12vh;
}

    .add-product-form,
    .edit-product-form {
          display: flex;
          flex-direction: column;
          margin-top: 4vh;
          align-items: center;
          padding-top: 11vh;
    }

.category-container {
  display: flex !important;
  flex-wrap: wrap !important;
  flex-direction: row !important;
  justify-content: space-around;
  align-content: center !important;
  position: sticky !important;
  padding-bottom: 10px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-top: 15vh;
}

.product-card {
  width: 18rem;
  margin-bottom: 2.5vh;
}

.all-categories-btn {
  display: flex !important;
  justify-content: center !important;
}
.category-container-mobile {
  display: none;
}

.category-card {
display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: 16vh;
  margin-top: 5vh !important;

}

.category-card :hover > .category-card-text {
  display: block;

}



.category-image {
  margin: 0 auto;
  width: 5rem !important;
  display: flex;
  justify-content: center;
  align-items: center;

}

.category-card-text {
  font-size: 0.95rem !important;
  white-space: initial;
  display: none

}

@media (max-width: 530px) {
  .category-container {
    margin-top: 10vh;
  }
}

/* We need another media query at 520px approximately */

@media (max-width: 400px) {
  .category-container {
    row-gap: 2.5vh;
    column-gap: 0.5vw;
  }

  .card {
    height: 15vh;
    width: 25vw;
  }

  .category-image {
    height: 3.2rem;
    width: 1.5rem;
  }
}

@media (max-width: 520px) {
  .category-card {
    display: none !important;
  }

  .category-container-mobile {
    display: table-row !important;
  }
}
