.all-products,
.one-product-card,
.one-product-card {
  display: flex;
  flex-direction: column;
  margin-top: 4vh;
  align-items: center;
  padding-top: 1vh;
}

.one-product-card {
  /* display: flex; */
  /* flex-direction: column; */
  margin-top: 4vh;
  align-items: center;
  padding-top: 12vh;
  padding-bottom: 6vh;
}

.add-product-form,
.edit-product-form {
  display: flex;
  flex-direction: column;
  margin-top: 4vh;
  height: 87.2vh !important;
  align-items: center;
  padding-top: 11vh;
}

.category-container {
  display: flex !important;
  flex-wrap: wrap !important;
  flex-direction: row !important;
  justify-content: space-around;
  align-content: center !important;
  position: sticky !important;
  padding-bottom: 10px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-top: 8vh;
}

.product-card {
  width: 18rem !important;
  margin-bottom: 2.5vh !important;
  align-content: center;
}

.product-scrollable {
  overflow-y: auto;
  max-height: 70vh;
}

.all-categories-btn {
  display: flex !important;
  justify-content: center !important;
  margin-left: 7rem !important;
  margin-top: 1rem;
}
.category-container-mobile {
  display: none;
}

.category-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: 16vh;
  margin-top: 5vh !important;
}

.category-card:active {
  background-color: rgb(248, 157, 13);
  opacity: 0.9;
}

.category-card :hover > .category-card-text {
  display: block;
}

.one-product-img {
  max-height: 40vh;
  max-width: 22vw;
}

.product-btn {
  margin-left: 1rem !important;
}

.see-details-btn {
  margin-left: 4rem !important;
}

.category-image {
  margin: 0 auto;
  width: 5rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-card-text {
  font-size: 0.95rem !important;
  white-space: initial;
  display: none;
}

.product-body-text {
  display: flex !important;
  flex-direction: row;
}
.btn-primary {
  color: rgb(248, 157, 13) !important;
  background-color: #000000 !important;
  font-weight: 500 !important;
}
.btn-primary:hover {
  border: 2px solid rgb(248, 157, 13) !important;
}

.product-filter-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sell-product-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.4vh;
}

/* Media queries begin here*/

@media (max-width: 600px) {
  .category-container {
    row-gap: 2.5vh;
    column-gap: 0.5vw;
    margin-top: 5vh;
  }

  #category.form-select {
    margin: 0 auto !important;
  }

  .card {
    height: 15vh;
    width: 25vw;
  }

  .category-image {
    height: 3.2rem;
    width: 1.5rem;
  }
  .one-product-img {
    max-width: 72vw;
    max-height: 48vh;
  }
  .product-card {
    height: 41.6vh;
  }
  .product-body-text {
    text-align: center;
  }
  .product-scrollable {
    max-height: 83.2vh;
    overflow-y: auto;
  }
  .all-products {
    margin-top: 1.6vh;
    padding-top: 0vh;
  }
  .one-product-card {
    width: 90vw !important;
    min-height: 100vh;
    margin: 0 auto !important;
  }
  .text-center {
    width: 100%;
    height: fit-content;
  }
  .goback-btn {
    margin: 0 64vw 2.4vh 0;
  }
  .heading-all-products {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
  .product-card-img {
    height: 24vh;
    width: auto;
  }

  .add-product-form {
    height: 90vh !important;
  }
}

@media (min-height: 700px) {
  .text-center {
    padding-bottom: 0vh;
    margin-top: 4vh;
  }
  .one-product-card {
    padding-bottom: 0vh;
    margin-top: 4vh;
  }
}

@media (min-width: 800px) {
  .category-container-mobile {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
  }
  #category {
    display: none;
  }
  #category-select {
    margin-left: 0vh !important;
  }

  .all-categories-btn,
  .product-body-text {
    display: none !important;
  }
  .all-products {
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
    height: 80vh !important;
    padding: 0;
  }
  .all-products-cards {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    width: auto;
    justify-content: center;
    column-gap: 2.4vw;
  }
  .heading-all-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.6vh;
  }
  .one-product-card {
    margin-bottom: 5vh;
  }
  .product-card-img {
    height: 24vh;
    width: auto;
  }
}
