.navbar {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  height: 10vh;
  background-color: grey;
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
  z-index: 9999 !important;
  padding-bottom: 10px !important;
}
.navbarLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 80%;
}
.toggleButton {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggleButton .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
.minimizedNavlinks {
  display: none;
  flex-direction: column;
  background-color: black;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggleButton {
    display: flex;
    height: 5vh;
  }

  .navbarLinks {
    display: none;
    width: 100%;
    /* padding-left: 50px; */
  }
  .minimizedNavlinks {
    display: flex;
    width: 45%;
    margin-top: 10vh;
    margin-left: 16.5vw;
  }
}
