.create-thread-form,
.all-threads {
  display: flex;
  flex-direction: column;
  margin-top: 4vh;
  align-items: center;
  padding-top: 1vh;
}

.create-thread-form {
  height: 84vh !important;
}

.create-thread-form {
  height: 70vh;
  padding-top: 20vh;
}

.single-thread-card {
  width: 70vw;
}

/* CSS for all threads*/
.thread-scrollable,
.thread-category-scrollable {
  overflow-y: auto;
  max-height: 70vh;
}

.thread-category-container {
  display: flex !important;
  flex-wrap: wrap !important;
  flex-direction: column !important;
  align-items: center;
  max-width: 25vw !important;
  min-width: 25vw !important;
  margin-left: 0.5vw !important;
  padding-top: 1vh !important;
  margin-top: 10vh !important;
}

.all-thread-container {
  display: flex !important;
  flex-direction: row;
  justify-content: space-evenly;
  min-height: 80vh;
  margin-bottom: 2vh;
}

.thread-category-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.2vh;
  min-width: 25vw !important;
}

.thread-category-card:hover {
  border: 1px solid rgb(248, 157, 13);
}

.all-threads {
  margin-top: 10vh;
  min-width: 70vw !important;
}
.category-container-mobile {
  display: none;
}

.category-card {
  flex: 0 0 auto;
  margin: 0 auto;
  align-content: center;
  width: 100px;
}

.thread-category-image {
  flex: 0 0 auto;
  align-content: center;
  width: 5rem !important;
}

.category-card-text {
  font-size: 12px;
  white-space: initial;
}

/* We need another media query at 520px approximately */

/*CSS for One thread*/
.one-thread-div {
  display: flex !important;
  flex-direction: column !important;
  min-height: 85vh !important;
  margin-top: 10vh;
  align-items: center !important;
}

.one-thread-card {
  width: 90vw !important;
  height: 30vh !important;
}

.comment-container {
  width: 90vw !important;
  min-height: 45vh !important;
}

.comment-card {
  width: 90vw !important;
  height: 16vh !important;
}

.comment-category-scrollable {
  overflow-y: auto !important;
  height: 38vh !important;
}

.comment-card-body {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
}

.delete-comment-button {
  max-height: 5vh !important;
  margin: 5vh 0 !important;
}

.add-comment-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5vh;
  margin-top: 5vh !important;
  margin-bottom: 3.2vh !important;
}

.comment-input {
  width: 80vw;
}

@media (max-width: 520px) {
  .thread-category-container {
    width: 90vw !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  #category {
    margin-left: 0 !important;
  }

  .category-container-mobile {
    width: 90vw !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  .thread-category-scrollable {
    display: none;
  }
  .card {
    height: 30vh;
    width: 90vw;
  }

  .category-image {
    height: 3.2rem;
    width: 1.5rem;
  }
  .thread-category-card {
    display: none !important;
  }
  .single-thread-card {
    height: 20vh !important;
    width: 90vw !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .category-container-mobile {
    display: table-row !important;
  }

  .all-thread-container {
    display: flex;
    flex-direction: column;
  }
  .thread-scrollable {
    min-height: 70vh !important;
    width: 90vw !important;
  }
  .all-threads {
    margin-top: 5vh;
    padding: 0;
  }

  .thread-title-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #category {
    margin-left: 5vw;
  }
}

@media (min-width: 900px) {
  .comment-card {
    width: 89vw !important;
  }

  .add-comment-form {
    margin-top: 5vh !important;
  }

  .one-thread-card-body {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
  }

  .comment-button-div {
    display: flex;
    flex-direction: column;
    row-gap: 2.4vh;
    justify-content: center;
  }

  .one-thread-card {
    height: 20vh !important;
  }

  .comment-category-scrollable {
    height: 50vh !important;
  }

  .thread-heading {
    margin-top: 2.4vh !important;
    margin-bottom: 2.4vh !important;
  }

  .thread-buttons {
    width: 4vw !important;
  }
}
