.create-thread-form,
.one-thread-card,
.all-threads {
  display: flex;
  flex-direction: column;
  margin-top: 4vh;
  align-items: center;
  padding-top: 1vh;
}

/* CSS for all threads*/

.thread-category-container {
  display: flex !important;
  flex-wrap: wrap !important;
  flex-direction: column !important;
  max-width: 25vw !important;
  margin-left: 0.5vw !important;
  padding-top: 1vh !important;
  margin-top: 10vh !important;
}

.all-thread-container {
  display: flex !important;
  flex-direction: row;
  justify-content: space-evenly;
}

.all-threads {
  margin-top: 10vh;
}
.category-container-mobile {
  display: none;
}

.category-card {
  flex: 0 0 auto;
  margin: 0 auto;
  align-content: center;
  width: 100px;
}

.thread-category-image {
  flex: 0 0 auto;
  align-content: center;
  width: 5rem !important;
}

.category-card-text {
  font-size: 12px;
  white-space: initial;
}

@media (max-width: 530px) {
  .category-container {
    margin-top: 10vh;
  }
}

/*CSS for One thread*/
